<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul id="messages"></ul>
        </div>
    </div>
</div>

<form action="" id="chatbox" role="form">
    <div class="form-group">
        <label for="message">Send a message as {{.UserData.name}}</label>
        or <a href="/logout">Sign out</a>
        <textarea id="message" class="form-control"></textarea>
    </div>
    <input type="submit" value="Send" class="btn btn-default"/>
</form>

</body>
<script>

    let msgBox = document.querySelector("#chatbox textarea");
    let messages = document.querySelector("#messages");
    let chatbox = document.querySelector("#chatbox");

    chatbox.onsubmit = () => {
        if (!msgBox.value) {
            return false;
        }
        if (!socket) {
            alert("Error there is no socket connection!");
            return false;
        }

        socket.send(JSON.stringify({"Message": msgBox.value}));
        msgBox.value = "";
        return false;
    };

    if ("WebSocket" in window) {

        socket = new WebSocket("ws://{{.Host}}/room");
        socket.onclose = () => alert("Connection has been closed.");
        socket.onmessage = (e) => {

            msg = JSON.parse(e.data);

            let li = document.createElement("li");
            let name = document.createElement("strong");
            let message = document.createElement("span");
            let avatar = document.createElement("img");

            name.textContent = msg.Name + ": ";
            message.textContent = msg.Message;
            avatar.style.width = "50px";
            avatar.style.verticalAlign = "middle";
            avatar.title = msg.Name;
            avatar.src = msg.AvatarURL;

            li.appendChild(avatar);
            li.appendChild(name);
            li.appendChild(message);

            messages.append(li);
        };

    } else {
        alert("Error: Your Browser doesn't support web sockets!")
    }

</script>
</html>